.DS_Store
.AppleDouble
.LSOverride
._*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

node_modules/
npm-debug.log*

.env
.env.local
.claude

dist/
_site/

posts.json
feed.xml

posts/*/
