.DS_Store
.AppleDouble
.LSOverride
._*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

node_modules/
npm-debug.log*

.env
.env.local
.claude

dist/
_site/

assets/img/jaloliddin_ismailov_*.pdf
.codex-vault/

posts.json

posts/*/

template.md
